<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FactoryMethod" value="PatternPractice.FactoryMethod.Log.DatabaseLoggerFactory"/>
    <add key="AbstractFactory" value="PatternPractice.AbstractFactory.SpringSkinFactory"/>
    <add key="Builder" value="PatternPractice.Builder.AngelBuilder"/>
    <add key="Adapter" value="PatternPractice.Adapter.OperationAdapter"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
